VITE_API_URL=http://localhost:3001
VITE_PRIVY_APP_ID=
VITE_OG_CHAIN_ID=16602
VITE_OG_RPC_URL=https://evmrpc-testnet.0g.ai
VITE_BLIND_ESCROW_ADDRESS=0x037529B296a89E6Dd1abAF84D413cb2dD70C5be5
VITE_TASK_REGISTRY_ADDRESS=0x25Bc5be1F8Ab44ADfb7a6Ce1362d37408E74DA95
VITE_BLIND_REPUTATION_ADDRESS=0x3d0374963DaaD43e31d42373eb11156A8e8ce2Ff
